main {
  background: #F4F6F5;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway/Raleway.ttf), url(./fonts/Raleway/Raleway.otf), url(./fonts/Raleway/Raleway.eot), url(./fonts/Raleway/Raleway.woff), url(./fonts/Raleway/Raleway.woff2);
}
* {
  box-sizing: border-box;
  margin: 0;
}

.footer__link_media path {
  transition: 0.3s;
}

.footer__link_media:hover path {
  fill: rgb(89, 141, 102);
}

.footer__link_media:focus path {
  fill: #D4E8D9;
}

.footer__link_media:active path {
  fill: rgb(55, 107, 68);
}

.container2 {
  overflow: scroll;
  max-width: 1032px;
  width: inherit;
  margin: 0 auto;
  padding: 0;
}
.container2::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.head__burger {
  top: 75px;
  position: absolute;
  right: 30px;
  width: 33px;
  height: 19px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  display: none;
}

.burger__checkbox {
  display: none;
}

.burger__line,
.burger__line::after,
.burger__line::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: 0.5s;
  top: 40px;
  left: -239px;
}

.burger__label {
  z-index: 10;
  display: block;
  height: 30px;
  width: 30px;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}

.burger__line::before {
  content: "";
  top: -8px;
  left: 0;
}

.burger__line::after {
  content: "";
  top: 8px;
  left: 0;
}

.burger__menu {
  position: fixed;
  background-color: white;
  top: 0;
  left: -110%;
  height: 100vh;
  width: 100%;
  padding: 0;
  list-style: none;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  background-color: #E1EDE6;
  z-index: 9;
}

.burger__menu_header {
  display: flex;
  width: 320px;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #FFF;
}

.burger__menu_title {
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
}

.burger__menu_links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  margin-top: 45px;
  margin-left: 15px;
}

.menu__a {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.head__burger input:checked ~ .burger__menu {
  left: 0;
}

.head__burger input:checked ~ .burger__label .burger__line::after {
  transform: rotate(90deg);
  top: 0;
}

.head__burger input:checked ~ .burger__label .burger__line {
  transform: rotate(45deg);
}

.head__burger input:checked ~ .burger__label .burger__line::before {
  transform: rotate(0deg);
  top: 0;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background: #E1EDE6;
}
.header__title {
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
}
.header .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  padding: 30px 10px 30px 10px;
}
.header .wrapper .header__company {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .wrapper .header__company__title {
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  text-decoration: none;
}
.header .wrapper .hr {
  height: 0;
}
.header .wrapper__title-link {
  text-decoration: none;
}
.header .wrapper .header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header .wrapper .header__nav .header__list {
  list-style: none;
  display: flex;
  gap: 60px;
  padding: 0;
}
.header .wrapper .header__nav .header__list .list__link {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s;
  white-space: nowrap;
}
.header .wrapper .header__nav .header__list .list__link:hover {
  color: #598D66;
}
.header .wrapper .header__nav .header__list .list__link:focus {
  background: #D4E8D9;
}
.header .wrapper .header__nav .header__list .list__link:active {
  color: #376B44;
}
.header .wrapper .header__nav .header__cart {
  cursor: pointer;
}
.header .wrapper .header__nav .header__cart .cart__img {
  height: 22px;
  vertical-align: middle;
  transition: 0.3s;
}
.header .wrapper .header__nav .header__cart .cart__img path {
  transition: 0.3s;
}
.header .wrapper .header__nav .header__cart .cart__img:hover path {
  stroke: rgb(89, 141, 102);
}
.header .wrapper .header__nav .header__cart .cart__img:active path {
  stroke: rgb(55, 107, 68);
}

.advert {
  background: #F4F6F5;
  margin-bottom: 69px;
}
.advert__wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.advert__wrapper__images {
  width: 50%;
}
.advert__wrapper__img {
  width: 100%;
}
.advert__wrapper .advert__main-block {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
.advert__wrapper .advert__main-block .advert__title {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  /* 66px */
  margin-bottom: 20px;
}
.advert__wrapper .advert__main-block span {
  color: #598D66;
  font-family: "Raleway";
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
}
.advert__wrapper .advert__main-block .advert__link {
  text-decoration: none;
}
.advert__wrapper .advert__main-block .advert__text {
  color: #86928B;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
  margin-bottom: 60px;
}
.advert__wrapper .advert__main-block .advert__btn {
  display: inline-flex;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border: 1px solid #598D66;
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  width: 227px;
  cursor: pointer;
  transition: 0.4s;
}
.advert__wrapper .advert__main-block .advert__btn:hover {
  background: #598D66;
  color: #F4F6F5;
}
.advert__wrapper .advert__main-block .advert__btn:focus {
  background: #D4E8D9;
  color: #598D66;
}
.advert__wrapper .advert__main-block .advert__btn:active {
  background: #376B44;
  color: white;
}

.reproductions__title {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 20px;
  margin-left: 15px;
  max-width: 1100px;
  /* 44px */
}

.reproductions__header {
  display: flex;
  overflow: auto;
  max-width: 1100px;
  background-color: #F4F6F5;
  margin: 0 auto 20px auto;
}
.reproductions__header .header__title {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 1032px;
}
.reproductions__header .reproductions__header_wrapper {
  margin: 0 0 0 auto;
}

.reproductions__btns {
  display: flex;
  gap: 32px;
  margin-left: 15px;
}
.reproductions__btns .reproductions__btn {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  background: #D4E8D9;
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s;
}
.reproductions__btns .reproductions__btn:hover {
  background: #598D66;
  color: #F4F6F5;
}
.reproductions__btns .reproductions__btn:focus {
  border: 2px solid #598D66;
  background: #D4E8D9;
}
.reproductions__btns .reproductions__btn:active {
  background: #376B44;
  color: #F4F6F5;
}
.reproductions__btns .repr__btn_active {
  background-color: #376B44;
  color: #F4F6F5;
}

.reproductions {
  background: #F4F6F5;
}
.reproductions__wrapper {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.reproductions__cards {
  gap: 25px;
  max-width: 1100px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.reproductions__cards .reproductions__card {
  padding: 20px 20px 30px 20px;
  background: #E1EDE6;
  position: relative;
  display: flex;
  flex-direction: column;
}
.reproductions__cards .reproductions__card .card__img {
  margin-bottom: 20px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.reproductions__cards .reproductions__card .card__author {
  color: #86928B;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.reproductions__cards .reproductions__card .card__name {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}
.reproductions__cards .reproductions__card .card__type {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.reproductions__cards .reproductions__card .card__price {
  color: #598D66;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.reproductions__cards .reproductions__card .card__btn {
  display: flex;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #598D66;
  bottom: 30px;
  white-space: nowrap;
  margin-top: auto;
  transition: 0.4s;
}
.reproductions__cards .reproductions__card .card__btn:hover {
  background: #598D66;
  color: #F4F6F5;
}
.reproductions__cards .reproductions__card .card__btn:focus {
  background: #D4E8D9;
  color: #598D66;
}
.reproductions__cards .reproductions__card .card__btn:active {
  background: #376B44;
  color: white;
}

.collection {
  background: #F4F6F5;
  background-image: url("./img/collectionbg.jpg");
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
}
.collection__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.collection__shareholders {
  margin-bottom: 25px;
}
.collection__progression {
  margin-bottom: 60px;
}
.collection__header {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
}
.collection__header__logo {
  margin-right: 20px;
}
.collection__title {
  color: #F4F6F5;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  /* 40px */
}
.collection__text {
  color: #FFF;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
}
.collection__btn {
  display: inline-flex;
  height: 65px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  background: #EEDB6D;
  width: 257px;
  cursor: pointer;
  height: 65px;
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  border: 0;
}
.collection__btn:hover {
  background-color: #FAEB97;
  color: #2C2D35;
}
.collection__btn:focus {
  border: 1px solid #A38314;
  background: #FAEB97;
}
.collection__btn:active {
  background: #D9B949;
}

.team {
  background: #F4F6F5;
}
.team__wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.team__wrapper .team__images {
  width: 100%;
}
.team__wrapper .team__brushes {
  max-height: 504px;
}
.team__wrapper .team__all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
}
.team__wrapper .team__all .team__title {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  /* 44px */
  margin-bottom: 20px;
}
.team__wrapper .team__all .team__text {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
  margin-bottom: 20px;
}
.team__wrapper .team__all .team__faces {
  display: flex;
  gap: 20px;
}
.team__wrapper .team__all .team__faces .team__face {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.footer {
  background-color: #D4E8D9;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 23px 29px 29px 14px;
  gap: 25px;
  margin: 0 auto;
}
.footer .footer__wrapper .footer__title {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.footer .footer__wrapper .footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer .footer__wrapper .footer__contacts .footer__company_name {
  display: flex;
  align-items: center;
  margin-bottom: 41px;
  margin-right: 115px;
  white-space: nowrap;
}
.footer .footer__wrapper .footer__company {
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.footer .footer__wrapper .footer__number {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.footer .footer__wrapper .footer__workshop {
  color: #86928B;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}
.footer .footer__links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  row-gap: 15px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
.footer .footer__logo {
  width: 35px;
  height: 35px;
  margin-right: 8px;
}
.footer .footer__link {
  color: #86928B;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  /* 27px */
  text-decoration: none;
  transition: 0.3s;
}
.footer .footer__reproductions_links {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .footer__reproductions_links .footer__reproductions {
  color: #2C2D35;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 500;
}
.footer .footer__news {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .footer__aboutus {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 114px;
  width: 100%;
}

.footer__hr {
  height: 0;
}

.footer__media {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #86928B;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  /* 14.4px */
}
.footer__media .footer__media_img {
  display: flex;
  gap: 30px;
  margin-bottom: 6px;
}

.footer__media-mobile {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #86928B;
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  /* 14.4px */
  display: none;
}
.footer__media-mobile .footer__media_img {
  display: flex;
  gap: 30px;
  margin-bottom: 6px;
}

.footer__link:hover {
  color: rgb(89, 141, 102);
}

.footer__link:focus {
  background: #D4E8D9;
  color: rgb(44, 45, 53);
}

.footer__link:active {
  color: rgb(55, 107, 68);
}

.footer__contacts_workshop_mobile {
  display: none;
}

@media screen and (max-width: 1325px) {
  .advert .advert__wrapper .advert__img {
    max-height: 621px;
    width: 100%;
  }
}
@media screen and (max-width: 1017px) {
  .reproductions .reproductions__wrapper .reproductions__header {
    flex-direction: column;
    gap: 20px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 980px) {
  .footer .footer__wrapper {
    flex-direction: column;
    padding: 23px 0 29px 0;
  }
  .footer .footer__wrapper .footer__link {
    color: #86928B;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  .footer .footer__wrapper .footer__contacts {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footer__wrapper .footer__contacts .footer__workshop {
    color: #86928B;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
  }
  .footer .footer__wrapper .footer__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  .footer .footer__wrapper .footer__hr {
    border: 1px solid #C3D1C6;
    margin-bottom: 20px;
    display: none;
  }
  .footer .footer__wrapper .footer__media_img {
    display: flex;
    justify-content: center;
  }
  .reproductions__cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .advert__wrapper .advert__main-block .advert__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 810px) {
  .team__wrapper .team__all {
    margin-top: 30px;
  }
  .team__wrapper {
    gap: 0;
  }
}
@media screen and (max-width: 805px) {
  .team .team__wrapper {
    flex-direction: column;
  }
  .team__all {
    margin-top: 15px;
  }
  .team__all .team__text {
    max-width: 600px;
  }
  .header .wrapper .header__nav {
    gap: 20px;
  }
}
@media screen and (max-width: 777px) {
  .advert__wrapper .advert__main-block .advert__title {
    font-size: 36px;
    margin-top: 50px;
  }
  .reproductions__header {
    display: block;
  }
  .advert__wrapper .advert__main-block span {
    font-size: 36px;
  }
  .advert .advert__wrapper .advert__img {
    max-width: 330px;
  }
  .advert__wrapper .advert__main-block .advert__text {
    margin-bottom: 40px;
  }
  .advert__wrapper .advert__main-block .advert__btn {
    width: 210px;
    height: 50px;
  }
}
@media screen and (max-width: 740px) {
  .footer .footer__media {
    margin: 0 auto;
  }
  .footer .footer__wrapper .footer__hr {
    display: block;
  }
}
@media screen and (max-width: 730px) {
  .footer .footer__media {
    display: none;
  }
  .footer__media-mobile {
    display: flex;
    margin: 0 auto;
  }
  .footer__hr {
    height: 1px;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .advert .advert__wrapper .advert__img {
    max-width: 195px;
    height: 239px;
  }
  .advert__wrapper .advert__main-block .advert__text {
    font-size: 16px;
  }
  .advert__wrapper .advert__main-block .advert__btn {
    font-size: 16px;
  }
  .advert__wrapper .advert__main-block .advert__title {
    font-size: 30px;
  }
  .advert__wrapper .advert__main-block .advert__text {
    margin-bottom: 30px;
  }
  .advert__wrapper .advert__main-block .advert__btn {
    width: 178px;
    height: 50px;
  }
  .header__nav {
    flex-wrap: wrap;
    gap: 1px;
  }
  .header__link {
    gap: 25px;
  }
  .header .wrapper .header__nav .header__list {
    flex-wrap: wrap;
    row-gap: 20px;
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .header .wrapper .header__nav {
    row-gap: 30px;
  }
  .header .wrapper {
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    gap: 22px;
  }
  .header .wrapper .hr {
    width: 88%;
    border: 1px solid #C3D1C6;
  }
  .header .wrapper .header__nav {
    width: 100%;
    justify-content: space-between;
    padding-left: 33px;
    padding-right: 33px;
  }
}
@media screen and (max-width: 520px) {
  .collection .collection__wrapper .collection__header .collection__logo {
    height: 50px;
    width: 50px;
  }
  .collection .collection__wrapper .collection__header .collection__title {
    font-size: 24px;
  }
  .advert__wrapper .advert__main-block .advert__title {
    font-size: 30px;
  }
  .advert__wrapper .advert__main-block .advert__link span {
    font-size: 30px;
  }
  .footer__wrapper .repr__title {
    color: #2C2D35;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
  }
  .footer .footer__reproductions_links {
    max-width: 114px;
    width: 100%;
  }
  .footer__wrapper .footer__number-mobile {
    font-size: 16px;
  }
  .footer__wrapper .footer__workshop-mobile {
    font-size: 16px;
  }
  .reproductions__title {
    font-size: 24px;
  }
  .reproductions__btns .reproductions__btn {
    font-size: 18px;
  }
  .reproductions__cards .reproductions__card .card__name {
    font-size: 24px;
  }
  .reproductions__cards .reproductions__card .card__author {
    font-size: 16px;
  }
  .reproductions__cards .reproductions__card .card__type {
    font-size: 16px;
  }
  .reproductions__cards .reproductions__card .card__price {
    font-size: 20px;
  }
  .reproductions__cards .reproductions__card .card__btn {
    font-size: 20px;
  }
}
@media screen and (max-width: 502px) {
  .footer__contacts_workshop {
    display: none;
  }
  .footer__contacts_workshop_mobile {
    display: flex;
    flex-direction: column;
  }
  .footer__wrapper .footer__contacts .footer__company_name {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 470px) {
  .team .team__brushes {
    width: 100%;
  }
  .advert .advert__wrapper .advert__img {
    display: none;
  }
  .advert .advert__wrapper .advert__main-block {
    width: 100%;
    margin-left: 0;
  }
  .advert .advert__wrapper .advert__images {
    width: 0;
  }
  .advert .advert__wrapper {
    gap: 0;
  }
}
@media screen and (max-width: 380px) {
  .reproductions .reproductions__cards .reproductions__card {
    width: 290px;
    height: 514px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .reproductions .reproductions__cards .reproductions__card .card__author {
    color: #86928B;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .reproductions .reproductions__cards .reproductions__card .card__name {
    color: #2C2D35;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .reproductions .reproductions__cards .reproductions__card .card__img {
    width: 250px;
    height: 250px;
    display: block;
  }
  .reproductions .reproductions__cards .reproductions__card .card__btn {
    display: flex;
    width: 250px;
    height: 50px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    position: static;
  }
  .reproductions .reproductions__cards .reproductions__card .card__price {
    margin-bottom: 10px;
    color: #598D66;
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .reproductions .reproductions__cards .reproductions__card .card__type {
    color: #2C2D35;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .collection .collection__wrapper .collection__header .collection__logo {
    margin-right: 10px;
  }
  .collection .collection__wrapper .collection__header .collection__text {
    font-size: 16px;
  }
  .collection .collection__wrapper .collection__btn {
    display: flex;
    height: 50px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .collection__wrapper .collection__text {
    font-size: 16px;
  }
  .advert__wrapper .advert__main-block .advert__btn {
    width: 154px;
  }
}
@media screen and (max-width: 322px) {
  .head__buttons {
    display: none;
  }
  .head__hr {
    display: none;
  }
  .head__burger {
    display: block;
  }
  .burger__line {
    display: block;
  }
  .header .wrapper .hr {
    display: none;
  }
  .header .wrapper .header__nav .header__list {
    display: none;
  }
  .header {
    background-color: #F4F6F5;
  }
  .header .wrapper .header__nav {
    background-color: #E1EDE6;
    height: 55px;
  }
  .header .wrapper {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .header .wrapper .header__nav .header__cart {
    position: absolute;
    right: 33px;
  }
}/*# sourceMappingURL=style.css.map */