main {
    background: #F4F6F5;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway/Raleway.ttf),
        url(./fonts/Raleway/Raleway.otf),
        url(./fonts/Raleway/Raleway.eot),
        url(./fonts/Raleway/Raleway.woff),
        url(./fonts/Raleway/Raleway.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.footer__link_media{
    path{
        transition: 0.3s;
    }
}

.footer__link_media:hover path {
    fill: rgba(89, 141, 102, 1);
    // fill: red;
}

.footer__link_media:focus path {
    fill: #D4E8D9;
}

.footer__link_media:active path {
    fill: rgba(55, 107, 68, 1);
}

.container2 {
    overflow: scroll;
    max-width: 1032px;
    width: inherit;
    margin: 0 auto;
    padding: 0;
    // margin-left: 15px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.head__burger {
    top: 75px;
    position: absolute;
    right: 30px;
    width: 33px;
    height: 19px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    display: none;
}

.burger__checkbox {
    display: none;
    // position: absolute;
    // left: -239px;
}


// .burger__line, .burger__line::before, .burger__line::after{
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     background-color: black;
//     transition: 0.5s;
//     top: 34px;
//     right: 118px;
// }

.burger__line,
.burger__line::after,
.burger__line::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: 0.5s;
    top: 40px;
    left: -239px;
}

.burger__label {
    z-index: 10;
    // position: fixed;
    display: block;
    height: 30px;
    width: 30px;

    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 100;
}

.burger__line::before {
    content: '';
    top: -8px;
    left: 0;
}

.burger__line::after {
    content: '';
    top: 8px;
    left: 0;
}

.burger__menu {
    position: fixed;
    background-color: white;
    top: 0;
    left: -110%;
    height: 100vh;
    width: 100%;
    padding: 0;
    list-style: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    background-color: #E1EDE6;
    z-index: 9;
}

.burger__menu_header {
    display: flex;
    width: 320px;
    height: 68px;
    // padding: 17px 15px 16px 15px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FFF;
}

.burger__menu_title {
    color: #598D66;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 700;
}

.burger__menu_links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
    margin-top: 45px;
    margin-left: 15px;
}

.menu__li {
    // margin-left: 56px;
}

.menu__a {
    color: #2C2D35;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}


.head__burger input:checked~.burger__menu {
    left: 0;
}

.head__burger input:checked~.burger__label .burger__line::after {
    transform: rotate(90deg);
    top: 0;
}

.head__burger input:checked~.burger__label .burger__line {
    transform: rotate(45deg);
}

.head__burger input:checked~.burger__label .burger__line::before {
    transform: rotate(0deg);
    top: 0;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    // display: none;
    background: #E1EDE6;

    &__title {
        color: #598D66;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 700;
        white-space: nowrap;
        text-decoration: none;
    }

    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        // gap: 101px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;
        padding: 30px 10px 30px 10px;

        .header__company {
            display: flex;
            align-items: center;
            gap: 10px;

            &__title {
                color: #598D66;
                font-family: 'Raleway';
                font-size: 20px;
                font-weight: 700;
                white-space: nowrap;
                text-decoration: none;
            }
        }

        .hr {
            height: 0;
        }





        &__title-link {
            text-decoration: none;
        }

        .header__nav {
            display: flex;
            align-items: center;
            gap: 60px;

            .header__list {
                list-style: none;
                display: flex;
                gap: 60px;
                padding: 0;

                .list__link {
                    color: #2C2D35;
                    font-family: 'Raleway';
                    font-size: 20px;
                    font-weight: 500;
                    text-decoration: none;
                    transition: 0.4s;
                    white-space: nowrap;

                    &:hover {
                        color: #598D66;
                    }

                    &:focus {
                        background: #D4E8D9;
                    }

                    &:active {
                        color: #376B44;
                    }

                }
            }

            .header__cart {
                cursor: pointer;

                .cart__img {
                    height: 22px;
                    vertical-align: middle;
                    transition: 0.3s;

                    path {
                        transition: 0.3s;
                    }

                    &:hover path {
                        stroke: rgba(89, 141, 102, 1);
                    }

                    &:active path {
                        stroke: rgba(55, 107, 68, 1);
                    }
                }
            }

        }

    }

}

.advert {
    background: #F4F6F5;
    margin-bottom: 69px;

    // display: none;
    &__wrapper {
        display: flex;
        // gap: 30px;
        margin: 0 auto;
        align-items: center;

        &__images {
            width: 50%;
        }

        &__img {
            width: 100%;
        }

        .advert__main-block {
            display: flex;
            width: 50%;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            // margin-top: 35px;

            .advert__title {
                color: #2C2D35;
                font-family: 'Raleway';
                font-size: 60px;
                font-weight: 500;
                line-height: 110%;
                /* 66px */
                margin-bottom: 20px;
                // white-space: nowrap;
            }

            span {
                color: #598D66;
                font-family: 'Raleway';
                font-size: 60px;
                font-weight: 500;
                line-height: 110%;
            }

            .advert__link {
                text-decoration: none;
            }

            .advert__text {
                color: #86928B;
                font-family: 'Raleway';
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                /* 27px */
                margin-bottom: 60px;
            }


            .advert__btn {
                display: inline-flex;
                height: 65px;
                padding: 20px 60px;
                justify-content: center;
                align-items: center;
                gap: 6px;
                flex-shrink: 0;
                border: 1px solid #598D66;
                color: #598D66;
                font-family: 'Raleway';
                font-size: 20px;
                font-weight: 500;
                background-color: transparent;
                width: 227px;
                cursor: pointer;
                transition: 0.4s;

                &:hover {
                    background: #598D66;
                    color: #F4F6F5;
                }

                &:focus {
                    background: #D4E8D9;
                    color: #598D66;
                }

                &:active {
                    background: #376B44;
                    color: white;
                }
            }
        }

    }
}

.reproductions__title {
    color: #2C2D35;
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
    margin-left: 15px;
    max-width: 1100px;
    /* 44px */
}

.reproductions__header {
    display: flex;
    overflow: auto;
    max-width: 1100px;
    background-color: #F4F6F5;
    margin: 0 auto 20px auto;

    .header__title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 1032px;
    }

    .reproductions__header_wrapper {
        margin: 0 0 0 auto;
    }
}

.reproductions__btns {
    display: flex;
    gap: 32px;
    margin-left: 15px;

    .reproductions__btn {
        display: flex;
        padding: 10px 20px;
        align-items: flex-start;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        background: #D4E8D9;
        color: #2C2D35;
        font-family: 'Raleway';
        font-size: 20px;
        font-weight: 500;
        transition: 0.4s;

        &:hover {
            background: #598D66;
            color: #F4F6F5;
        }

        &:focus {
            border: 2px solid #598D66;
            background: #D4E8D9;
        }

        &:active {
            background: #376B44;
            color: #F4F6F5;
        }
    }

    .repr__btn_active {
        background-color: #376B44;
        color: #F4F6F5;
    }
}

.reproductions {
    background: #F4F6F5;

    &__wrapper {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
    }

    &__cards {
        gap: 25px;
        max-width: 1100px;
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .reproductions__card {
            padding: 20px 20px 30px 20px;
            background: #E1EDE6;
            position: relative;
            display: flex;
            flex-direction: column;

            .card__img {
                // width: 310px;
                margin-bottom: 20px;
                overflow: hidden;
                object-fit: cover;
                object-position: top;
            }

            .card__author {
                color: #86928B;
                font-family: 'Raleway';
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            .card__name {
                color: #2C2D35;
                font-family: 'Raleway';
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 8px;
            }

            .card__type {
                color: #2C2D35;
                font-family: 'Raleway';
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .card__price {
                color: #598D66;
                font-family: 'Raleway';
                font-size: 24px;
                font-weight: 500;
                margin-bottom: 20px;
            }

            .card__btn {
                display: flex;
                // width: 310px;
                height: 65px;
                padding: 20px 60px;
                justify-content: center;
                align-items: center;
                gap: 6px;
                flex-shrink: 0;
                color: #598D66;
                font-family: 'Raleway';
                font-size: 20px;
                cursor: pointer;
                font-weight: 500;
                background-color: transparent;
                border: 1px solid #598D66;
                // position: absolute;
                bottom: 30px;
                white-space: nowrap;
                margin-top: auto;
                transition: 0.4s;

                &:hover {
                    background: #598D66;
                    color: #F4F6F5;
                }

                &:focus {
                    background: #D4E8D9;
                    color: #598D66;
                }

                &:active {
                    background: #376B44;
                    color: white;
                }
            }
        }
    }

}

.collection {
    background: #F4F6F5;
    background-image: url('./img/collectionbg.jpg');
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .collection__shareholders {
            margin-bottom: 25px;
        }

        .collection__progression {
            margin-bottom: 60px;
        }

        .collection__header {
            display: flex;

            .collection__logo {
                margin-right: 20px;
            }

            .collection__title {
                color: #F4F6F5;
                font-family: 'Raleway';
                font-size: 40px;
                font-weight: 500;
                line-height: 100%;
                /* 40px */
                margin-bottom: 20px;
            }
        }

        .collection__text {
            color: #FFF;
            font-family: 'Raleway';
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            /* 27px */
        }

        .collection__btn {
            display: inline-flex;
            height: 65px;
            padding: 20px 60px;
            justify-content: center;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
            background: #EEDB6D;
            width: 257px;
            cursor: pointer;
            height: 65px;
            color: #2C2D35;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 500;
            transition: 0.3s;
            border: 0;

            &:hover {
                background-color: #FAEB97;
                color: #2C2D35;
            }

            &:focus {
                border: 1px solid #A38314;
                background: #FAEB97;
            }

            &:active {
                background: #D9B949;
            }
        }
    }
}

.team {
    background: #F4F6F5;

    // display: none;
    &__wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
        display: flex;
        gap: 30px;
        margin: 0 auto;
        margin-bottom: 50px;

        .team__images {
            width: 100%;
        }

        // .team__brushes {
        //     width: 100%;
        // }

        .team__all {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 80px;
            width: 100%;

            .team__title {
                color: #2C2D35;
                font-family: 'Raleway';
                font-size: 40px;
                font-weight: 500;
                line-height: 110%;
                /* 44px */
                margin-bottom: 20px;
            }

            .team__text {
                color: #2C2D35;
                font-family: 'Raleway';
                font-size: 18px;
                font-weight: 500;
                line-height: 150%;
                /* 27px */
                margin-bottom: 20px;
            }

            .team__faces {
                display: flex;
                gap: 20px;
                // justify-content: space-between;

                .team__face {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}

.footer {
    // display: none;
    background-color: #D4E8D9;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 23px 29px 29px 14px;
        gap: 25px;
        margin: 0 auto;


        .footer__logo {
            width: 35px;
            height: 35px;
            margin-right: 8px;
        }

        .footer__link {
            color: #86928B;
            font-family: 'Raleway';
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            /* 27px */
            text-decoration: none;
            transition: 0.3s;


        }

        .footer__title {
            color: #2C2D35;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
        }

        .footer__contacts {
            display: flex;
            flex-direction: column;

            .footer__company_name {
                display: flex;
                align-items: center;
                margin-bottom: 41px;
                margin-right: 115px;
                white-space: nowrap;
            }
        }

        .footer__company {
            color: #598D66;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
        }

        .footer__number {
            color: #2C2D35;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
        }

        .footer__workshop {
            color: #86928B;
            font-family: 'Raleway';
            font-size: 18px;
            font-weight: 500;
            margin-top: 8px;
        }
    }

    .footer__links {
        display: flex;
        flex-direction: row;
        gap: 40px;
        row-gap: 15px;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
    }

    .footer__reproductions_links {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .footer__reproductions {
            color: #2C2D35;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 500;
        }
    }

    .footer__news {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .footer__aboutus {
        display: flex;
        flex-direction: column;
        gap: 6px;
        max-width: 114px;
        width: 100%;
    }

}

.footer__hr {
    height: 0;
}

.footer__media {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #86928B;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    /* 14.4px */

    .footer__media_img {
        display: flex;
        gap: 30px;
        margin-bottom: 6px;
    }
}

.footer__media-mobile {
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: #86928B;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    /* 14.4px */

    .footer__media_img {
        display: flex;
        gap: 30px;
        margin-bottom: 6px;
    }

    display: none;
}

.footer__contacts_workshop_mobile {
    display: none;
}

@media screen and (max-width:1325px) {
    .advert .advert__wrapper .advert__img {
        max-height: 621px;
        width: 100%;
    }
}

@media screen and (max-width:1017px) {
    .reproductions .reproductions__wrapper {
        // padding-left: 15px;

        .reproductions__header {
            flex-direction: column;
            gap: 20px;

            // .reproductions__btns {
            //     flex-wrap: wrap
            // }
        }
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media screen and (max-width: 980px) {
    .footer .footer__wrapper {
        flex-direction: column;
        padding: 23px 0 29px 0;

        .footer__link {
            color: #86928B;
            font-family: 'Raleway';
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }

        .footer__contacts {
            flex-direction: row;
            justify-content: space-between;
            // padding: 0 30px;

            .footer__workshop {
                color: #86928B;
                font-family: 'Raleway';
                font-size: 16px;
                font-weight: 500;
            }
        }

        .footer__links {
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;
            // padding: 0 77px 0 39px;
            justify-content: space-between;
        }

        .footer__hr {
            border: 1px solid #C3D1C6;
            margin-bottom: 20px;
            display: none;
        }

        .footer__media_img {
            display: flex;
            justify-content: center;
        }
    }

    .reproductions__cards {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .advert__wrapper .advert__main-block .advert__title {
        font-size: 40px;
    }
}

@media screen and (max-width:810px) {
    // .team .team__wrapper .team__brushes {
    //     width: 300px;
    //     height: 325px;
    // }

    .team__wrapper .team__all {
        margin-top: 30px;
    }

    .team__wrapper {
        gap: 0;
    }
}

@media screen and (max-width:805px) {
    .team .team__wrapper {
        flex-direction: column;
        // align-items: center;
    }

    .team__all {
        margin-top: 15px;

        .team__text {
            max-width: 600px;
        }

        // .team__faces {
        //     justify-content: center;
        // }
    }

    .header .wrapper .header__nav {
        gap: 20px;
    }
}

@media screen and (max-width:777px) {
    .advert__wrapper .advert__main-block .advert__title {
        font-size: 36px;
        margin-top: 50px;
    }

    .reproductions__header {
        display: block;
    }

    .advert__wrapper .advert__main-block span {
        font-size: 36px;
    }

    .advert .advert__wrapper .advert__img {
        max-width: 330px;
    }

    .advert__wrapper .advert__main-block .advert__text {
        margin-bottom: 40px;
    }

    .advert__wrapper .advert__main-block .advert__btn {
        width: 210px;
        height: 50px;
    }
}

@media screen and (max-width: 740px) {
    .footer .footer__media {
        margin: 0 auto;
    }

    .footer .footer__wrapper .footer__hr {
        display: block;
    }
}

@media screen and (max-width: 730px) {
    .footer .footer__media {
        display: none;
    }

    .footer__media-mobile {
        display: flex;
        margin: 0 auto;
    }

    .footer__hr {
        height: 1px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .advert .advert__wrapper .advert__img {
        max-width: 195px;
        height: 239px;
    }

    .advert__wrapper .advert__main-block .advert__text {
        font-size: 16px;
    }

    .advert__wrapper .advert__main-block .advert__btn {
        font-size: 16px;
    }

    .advert__wrapper .advert__main-block .advert__title {
        font-size: 30px;
    }

    .advert__wrapper .advert__main-block .advert__text {
        margin-bottom: 30px;
    }

    .advert__wrapper .advert__main-block .advert__btn {
        width: 178px;
        height: 50px
    }

    .header__nav {
        flex-wrap: wrap;
        gap: 1px;
    }

    .header__link {
        gap: 25px;
    }

    .header .wrapper .header__nav .header__list {
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 60px;
    }

    .header .wrapper .header__nav {
        row-gap: 30px
    }

    .header .wrapper {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        gap: 22px;

        .hr {
            width: 88%;
            border: 1px solid #C3D1C6;
        }

        .header__nav {
            width: 100%;
            justify-content: space-between;
            padding-left: 33px;
            padding-right: 33px;
        }
    }

}

@media screen and (max-width: 520px) {
    .collection .collection__wrapper .collection__header .collection__logo {
        height: 50px;
        width: 50px;
    }

    .collection .collection__wrapper .collection__header .collection__title {
        font-size: 24px;
    }

    .advert__wrapper .advert__main-block .advert__title {
        font-size: 30px;
    }

    .advert__wrapper .advert__main-block .advert__link span {
        font-size: 30px;
    }

    .footer__wrapper .repr__title {
        color: #2C2D35;
        font-family: 'Raleway';
        font-size: 16px;
        font-weight: 500;
    }

    .footer .footer__reproductions_links {
        max-width: 114px;
        width: 100%;
    }

    .footer__wrapper .footer__number-mobile {
        font-size: 16px;
    }

    .footer__wrapper .footer__workshop-mobile {
        font-size: 16px;
    }

    .reproductions__title {
        font-size: 24px;
    }

    .reproductions__btns .reproductions__btn {
        font-size: 18px;
    }

    .reproductions__cards .reproductions__card .card__name {
        font-size: 24px;
    }

    .reproductions__cards .reproductions__card .card__author {
        font-size: 16px;
    }

    .reproductions__cards .reproductions__card .card__type {
        font-size: 16px;
    }

    .reproductions__cards .reproductions__card .card__price {
        font-size: 20px;
    }

    .reproductions__cards .reproductions__card .card__btn {
        font-size: 20px;
    }

}

@media screen and (max-width: 502px) {
    .footer__contacts_workshop {
        display: none;
    }

    .footer__contacts_workshop_mobile {
        display: flex;
        flex-direction: column;
    }

    .footer__wrapper .footer__contacts .footer__company_name {
        margin-bottom: 0px;
    }

    .footer .footer__wrapper .footer__links {
        // padding: 0 15px;
    }

    .footer .footer__wrapper .footer__contacts {
        // padding: 0 15px;
    }
}

@media screen and (max-width: 470px) {
    .team .team__brushes {
        width: 100%;
    }

    .advert .advert__wrapper .advert__img {
        display: none;
    }

    .advert .advert__wrapper .advert__main-block {
        // margin: 20px 0;
        width: 100%;
        // padding: 0 27px 0 27px;
        margin-left: 0;
    }

    .advert .advert__wrapper .advert__images {
        width: 0;
    }

    .advert .advert__wrapper {
        gap: 0
    }

}

@media screen and (max-width:380px) {
    .reproductions .reproductions__cards .reproductions__card {
        width: 290px;
        height: 514px;
        padding-left: 15px;
        padding-right: 15px;

        .card__author {
            color: #86928B;
            font-family: 'Raleway';
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .card__name {
            color: #2C2D35;
            font-family: 'Raleway';
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .card__img {
            width: 250px;
            height: 250px;
            display: block;
        }

        .card__btn {
            display: flex;
            width: 250px;
            height: 50px;
            padding: 20px 60px;
            justify-content: center;
            align-items: center;
            gap: 6px;
            flex-shrink: 0;
            position: static;
        }

        .card__price {
            margin-bottom: 10px;
            color: #598D66;
            font-family: 'Raleway';
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .card__type {
            color: #2C2D35;
            font-family: 'Raleway';
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }

    .collection .collection__wrapper {
        .collection__header {
            .collection__logo {
                margin-right: 10px;
            }

            // .collection__title {
            //     font-size: 24px;
            // }

            .collection__text {
                font-size: 16px;
            }
        }

        .collection__btn {
            display: flex;
            // width: 290px;
            height: 50px;
            padding: 20px 60px;
            justify-content: center;
            align-items: center;
            gap: 6px;
        }
    }

    .collection__wrapper .collection__text {
        font-size: 16px;
    }

    .advert__wrapper .advert__main-block .advert__btn {
        width: 154px;
    }

}

@media screen and (max-width: 322px) {
    .head__buttons {
        display: none;
    }

    .head__hr {
        display: none;
    }

    .head__burger {
        display: block;
    }

    .burger__line {
        display: block;
    }

    .header .wrapper .hr {
        display: none;
    }

    .header .wrapper .header__nav .header__list {
        display: none;
    }

    .header {
        background-color: #F4F6F5;
    }

    .header .wrapper .header__nav {
        background-color: #E1EDE6;
        height: 55px;
    }

    .header .wrapper {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .header .wrapper .header__nav .header__cart {
        position: absolute;
        right: 33px;
    }
}